<header>
  <a href="/" id="site-logo">
    <h1>Stevens Point Community Forum</h1>
  </a>
  <nav>
    <a href="/register">Register</a> | <a href="/login">Login</a> |
    <a
      href="https://github.com/joshuaGmartin/members-only"
      target="_blank"
      rel="noopener noreferrer"
      >Source</a
    >
  </nav>
</header>
