<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>filmnerds</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <!-- move to header -->
    <!-- <p>
      Welcome, <b><%= // locals.user.username %></b>! You are logged in
    </p> -->
    <div id="main-welcome-message" class="welcome-message">
      <h2>Welcome!</h2>
      <div class="text">
        <p>Please login or register an account to view the forum</p>
      </div>
      <div class="buttons">
        <a href="/login"><button>Login</button></a>
        <a href="/register/guest"><button>Register</button></a>
      </div>
    </div>
  </body>
</html>
