:root {
  --spacing: 1rem;

  font-family: sans-serif;
}

body {
  margin: 0;

  * {
    /* debugging */
    /* outline: red solid 1px; */
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  position: sticky;
  top: 0;

  padding: 0 var(--spacing);
  border-bottom: 1px solid black;

  #site-logo {
    color: black;
    text-decoration: none;

    h1 {
      margin: 0;
    }
  }

  nav {
    display: flex;
    gap: 0.5rem;

    #logout-button {
      display: flex;

      #logout-form {
        margin-top: 0;

        #logout-button {
          margin-top: 0;
        }
      }
    }
  }
}

main {
  padding-top: var(--spacing);
}

/* ======================================================================================= */
/* Forms */
/* ======================================================================================= */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin: 0 auto;
  margin-top: 5rem;
  /* width: max-content; */

  .form-errors {
    align-self: center;
    padding-left: 0;
  }

  label {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }

  h2 {
    margin: 0;
    text-align: center;
  }

  input {
    width: 15rem;
  }

  button {
    width: fit-content;
    align-self: center;

    margin-top: var(--spacing);
  }

  .password-input-line {
    display: flex;
    align-items: center;

    position: relative;

    .show-password-button {
      position: absolute;
      left: calc(100% + 0.5rem);
      padding: 0 0.5rem;

      transition: box-shadow 0.3s ease;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px black;
      }
    }
  }
}

#member-register-form {
  width: 25rem;
  max-width: 100%;

  margin-bottom: 5rem;

  .quiz-questions-container {
    padding: 0;
    /* width: fit-content; */

    text-align: center;

    .quiz-question {
      padding-bottom: 2rem;

      &:last-child {
        padding-bottom: 0;
      }

      > * {
        margin-bottom: 0.5rem;
      }

      .quote-error {
        color: red;
      }

      label {
        margin-left: auto;
        margin-right: auto;
      }

      .hint-section {
        display: flex;
        flex-direction: column;

        .show-hint-button {
          align-self: center;
          padding: 0 0.5rem;

          transition: box-shadow 0.3s ease;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px black;
          }
        }

        .hint {
          display: none;
        }
      }
    }
  }

  button {
    margin: 0;
  }
}

#new-message-form {
  max-width: 35rem;
  width: 100%;

  label,
  input,
  textarea {
    max-width: 100%;
    width: 100%;
  }

  textarea {
    height: 20rem;
  }
}

#admin-register-form {
  ol {
    padding: 0;

    li {
      padding-bottom: var(--spacing);

      .radios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing);

        label {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          input {
            width: fit-content;
            margin: 0;
          }
        }
      }
    }
  }
}

.admin-tool-form {
  margin: 0;
}

/* ======================================================================================= */
/* Blocks */
/* ======================================================================================= */
.welcome-message {
  padding-top: 5rem;
  margin: 0 auto;

  max-width: 20rem;

  .text {
    padding: 0.5rem 0 2rem;
  }

  a {
    display: block;
    text-align: center;
  }
}

#main-welcome-message {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
}

#main-container {
  max-width: 40rem;
  margin: 0 auto;

  display: flex;

  .film-pattern {
    width: 2rem;

    --film-spacing: 15px;

    background-image: linear-gradient(
      black var(--film-spacing),
      transparent var(--film-spacing)
    );
    background-size: 100% calc(var(--film-spacing) * 2);
    background-repeat: repeat-y;

    --film-border: 10px solid black;

    border-left: var(--film-border);
    border-right: var(--film-border);
  }

  #messages-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    padding: var(--spacing);

    width: 100%;
    background-color: black;

    .message-container {
      background-color: white;

      padding: var(--spacing);
      border-radius: 5px;

      h2 {
        margin: 0;
      }

      .info {
        font-size: small;
      }

      .text {
        margin: var(--spacing) 0;

        white-space: pre-wrap;
      }

      .member-require-block {
        text-align: end;
      }
    }
  }
}

#add-message-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0.5rem;

  p {
    text-align: center;
    margin: 0;

    font-size: small;
  }
}

#admin-tools-container {
  align-self: start;
  padding: 0 var(--spacing);
}

/* ======================================================================================= */
/* Catch All */
/* ======================================================================================= */

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}

.link-style {
  background: none;
  border: none;
  padding: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
}

button {
  background-color: white;
  border: 1px black solid;

  font-size: 1rem;

  transition:
    color 0.1s ease,
    background-color 0.1s ease;

  &:hover:not(.link-style) {
    cursor: pointer;
    color: white;
    background-color: black;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.admin-controls-message {
  display: flex;
  flex-direction: row;
  justify-content: end;

  margin: 0;
}
