<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Welcome Member!</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <div id="member-welcome-message">
      <h2>You have choosen... <i>wisely.</i></h2>
      <div class="text">
        <p>Welcome fellow <b>filmnerd!</b></p>
        <p>
          Congratulations on joining our exclusive membership where only the
          <i>true</i> fans of films gather together to discuss, critique, and
          enjoy their favorite (or least favorite) works of cinema.
        </p>
        <p>
          Start now by clicking below and introducing yourself on the main
          forum. List out your top three (or twelve) favorite films and tell us
          what brought you here.
        </p>
        <p>Welcome again and see you in the chat, filmnerd!</p>
      </div>
      <a href="/message"><button>Create your first message</button></a>
    </div>
  </body>
</html>
